{
  "parser" : "babel-eslint",
  "env" : {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "semi":"off",
    "no-trailing-spaces" :"off",
    "comma-dangle":"off",
    "arrow-parens":"off",
    "linebreak-style":"off",
    "require-jsdoc" :"off",
    "eol-last" : "off",
    "operator-linebreak":"off",
    "padded-blocks":"off",
    "no-debugger":"off",
    "no-unused-vars":"off"
  },
  "extends": ["eslint:recommended", "google"]
}