@import "variables";
@import "mixins";

.excel__header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;

  & .input {
    margin: 0;
    padding: 4px 5px;
    border: 2px solid transparent;
    color: #000;
    border-radius: 2px;
    font-size: 16px;
    outline: none;

    &:hover {
      border-color: $border-color;
    }
    &:focus {
      border-color: #1a788e;
    }
  }

  & .button {
    @include button(red)
  }
}